{% extends "base/_base.html" %} 

{%block title%}Add Payment{%endblock%}

{% block content %}
    <div class="px-2 py-4 rounded-2xl my-4" style="background: linear-gradient(60deg,rgba(11, 20, 70, 0.87),rgba(8, 180, 129, 0.979));padding-bottom: 1.5cm;">
        <div style="margin-bottom: 2.5cm;">
            <a href="{% url 'payment_list'%}"><button class="mx-4 px-4 font-bold text-lg" style="border-radius: 9px;border-color: rgb(6, 27, 59);border-width: 2px;background-color: rgb(4,33,53); padding-top: 4px;padding-bottom: 4px;color: antiquewhite;margin-bottom: 12px;">Back</button></a>
        </div>
        <div class="bg-gray-100 rounded-xl border-2 border-gray-300 px-2 py-2 mb-4 bg-gray-900" style="margin-top: 1cm;padding-bottom: 2cm;">
            <form method="post" enctype="multipart/form-data" class="max-w-lg mx-auto mt-8">
                {% csrf_token %}

                <h1 class="mt-4 text-center text-xl font-bold" style="color: rgb(246, 250, 250);">NEW PAYMENT</h1>
                <hr class="mx-4">
                <hr  class="mx-4" style="margin-bottom: 1cm;">

                <h1 class="mt-2 font-bold" style="color: rgb(246, 250, 250);padding-left: 2cm;">{{ form.kid.label_tag }}</h1>
                <h1 style="font-size: 20px;border-radius: 10;padding-left: 1.8cm;padding-bottom: 0.5cm;">{{ form.kid }}</h1>

                <h1 class="mt-2 font-bold" style="color: rgb(246, 250, 250);padding-left: 2cm;">{{ form.payment_type.label_tag }}</h1>
                <h1 style="font-size: 20px;border-radius: 10;padding-left: 1.8cm;padding-bottom: 0.5cm;">{{ form.payment_type }}</h1>

                <h1 class="mt-2 font-bold" style="color: rgb(246, 250, 250);padding-left: 2cm;">{{ form.payment_for.label_tag }}</h1>
                <h1 style="font-size: 20px;border-radius: 10;padding-left: 1.8cm;padding-bottom: 0.5cm;">{{ form.payment_for }}</h1>

                <h1 class="mt-2 font-bold" style="color: rgb(246, 250, 250);padding-left: 2cm;">{{ form.amount.label_tag }}</h1>
                <h1 style="font-size: 20px;border-radius: 10;padding-left: 1.8cm;padding-bottom: 0.5cm;">{{ form.amount }}</h1>

                <h1 class="mt-2 font-bold" style="color: rgb(246, 250, 250);padding-left: 2cm;">{{ form.handle.label_tag }}</h1>
                <h1 style="font-size: 20px;border-radius: 10;padding-left: 1.8cm;padding-bottom: 0.5cm;">{{ form.handle }}</h1>

                <h1 class="mt-2 font-bold" style="color: rgb(246, 250, 250);padding-left: 2cm;">{{ form.paid_on.label_tag }}</h1>
                <h1 style="font-size: 20px;border-radius: 10;padding-left: 1.8cm;padding-bottom: 0.5cm;">{{ form.paid_on }}</h1>

                <h1 class="mt-2 font-bold" style="color: rgb(246, 250, 250);padding-left: 2cm;">{{ form.term_paid_for.label_tag }}</h1>
                <h1 style="font-size: 20px;border-radius: 10;padding-left: 1.8cm;padding-bottom: 0.5cm;">{{ form.term_paid_for }}</h1>

                <button type="submit" class="text-lg font-bold" style="background-color: aqua;margin-left: 10px;margin-top: 0.5cm;padding-left: 15px;padding-right: 15px;padding-top: 5px;padding-bottom: 5px;border-radius: 8px;">Submit</button>
            </form>
        </div>
    </div>
{%endblock%}