{% extends "base/_base.html" %} 

{%block title%}payments{%endblock%}


{%block content%}
    <div class="px-2 py-4 rounded-2xl my-4" style="background: linear-gradient(60deg,rgba(11, 20, 70, 0.87),rgba(8, 180, 129, 0.979));padding-bottom: 4cm;">
        <div style="margin-bottom: 1cm;">
            <a href="{% url 'add_payment'%}"><button class="mx-4 px-4 font-bold text-2xl" style="border-radius: 9px;border-color: rgb(12, 65, 56);border-width: 2px;background-color: rgb(42, 165, 144); padding-top: 3px;padding-bottom: 3px;color: rgb(1, 11, 20);margin-bottom: 12px;float :inline-end">+</button></a>
            
            <a href="{% url 'index'%}"><button class="mx-4 px-4 font-bold text-lg" style="border-radius: 9px;border-color: rgb(12, 65, 56);border-width: 2px;background-color: rgb(42, 165, 144); padding-top: 4px;padding-bottom: 4px;color: rgb(1, 11, 20);margin-bottom: 12px;">Back</button></a>
        </div>
        <h1 class="bg-gray-800 my-4 py-2 text-xl border-gray-100 text-white font-bold justify-center flex" style="border-width: 3px;border-radius: 2cm;">Payments</h1>

        <div style="margin-bottom:2cm ;margin-top: 0.5cm;">
            <form method="get">
                <ul class="absolute flex ">
                    <li><h1 class="font-bold" style="color: rgb(2, 18, 32);">{{ pf.form }}</h1></li>
                    <li><button class="text-lg font-bold" style="background-color: aqua;padding-left: 15px;padding-right: 15px;padding-top: 5px;padding-bottom: 3px;border-radius: 8px;margin-left: 10px;" type="submit">Search</button></li>
                </ul>
            </form>
        </div >

        {%for payment in payments %}
            <div class="bg-gray-100 rounded-xl border-2 border-gray-500 px-2 py-4 my-4">
                <a href="{{ payment.get_url}}"><h1 class="font-bold "style="font-size: 19px;">{{ payment }}</h1>
            </div>
        {%endfor%}
{%endblock%}
