{% extends "base/_base.html" %} 

{%block title%}{{ kid_url.full_name }}{%endblock%}

{% block content %}
    <div class=" rounded-xl border-2 border-gray-800 px-2 py-4 my-4" style="background: linear-gradient(60deg,rgba(11, 20, 70, 0.87),rgba(8, 180, 129, 0.979));">
        <button class="mx-4 px-4 font-bold text-lg text-white" style="background-color: antiquewhite;border-radius: 9px;border-color: rgb(6, 27, 59);border-width: 2px;background-color: rgb(4, 33, 53); padding-top: 4px;padding-bottom: 4px;"><a href="{% url 'kids_list'%}">Back</a></button>


        <div class="flex items-center justify-center" style="margin-top: 1.5cm;">
            <img src="{{ kid_url.kid_picture.url }}" alt="{{ nursery_kid.full_name}}'s picture not found" class="h-48 w-48 rounded-full object-cover border-8 border-gray-100">
        </div>
        <div class="bg-gray-100 rounded-xl border-2 border-gray-300 px-2 py-2 mb-4 bg-gray-800" style="margin-top: 1cm;">
            <h1 class="mt-4 text-center text-xl font-bold" style="color: rgb(246, 250, 250);">INFO</h1>
            <hr class="mx-4">
            <hr  class="mx-4" style="margin-bottom: 1cm;">

            <h1 class="mt-2 text-lg font-bold" style="color: rgb(246, 250, 250);">NAME : {{ kid_url.full_name }}</h1>
            <hr>
            <hr>
            <h1 class="my-2 text-lg font-bold" style="color: rgb(248, 250, 250);">AGE : {{ kid_url.age }}</h1>
            <hr class="mt-2">
            <hr>
            <h1 class="my-2 text-lg font-bold" style="color: rgb(245, 248, 248);">CLASS : {{ kid_url.kid_class }}</h1>
            <hr>
            <hr>
            <h1 class="my-2 text-lg font-bold" style="color: rgb(241, 250, 250);">Parent's Contact Info : {{ kid_url.parent_first_contact }}</h1>
            <hr>
            <hr>
            <h1 class="my-2 text-lg font-bold" style="color: rgb(250, 250, 250);">Parent's Second Contact Info : {{ kid_url.parent_second_contact }}</h1>
            <hr>
            <hr>
        </div>

        <div class="bg-gray-100 rounded-xl border-2 border-gray-300 px-2 py-2 mb-4 bg-gray-800" style="margin-top: 1cm;">
            <h1 class="mt-4 text-center text-xl font-bold" style="color: rgb(246, 250, 250);">PAYMENTS</h1>
            <hr class="mx-4">
            <hr  class="mx-4" style="margin-bottom: 1cm;">

            {% for all_payment in all_payments %}
            <h1 class="mt-2 text-lg font-bold" style="color: rgb(246, 250, 250);"> {{ all_payment }}</h1>
            <hr>
            <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
