{% extends "base/_base.html" %} 

{%block title%}kids{%endblock%}

{% block content %}
    <div class="px-2 py-4 rounded-2xl my-4" style="background: linear-gradient(60deg,rgba(11, 20, 70, 0.87),rgba(8, 180, 129, 0.979));">
        <div>
            <a href="{% url 'new_kid'%}"><ion-icon name="person-add" class="mx-4 px-4 font-bold text-2xl" style="border-radius: 9px;border-color: rgb(12, 65, 56);border-width: 2px;background-color: rgb(42, 165, 144); padding-top: 3px;padding-bottom: 3px;color: rgb(1, 11, 20);margin-bottom: 12px;float :inline-end"></ion-icon></a>
            <button class="mx-4 px-4 font-bold text-lg" style="border-radius: 9px;border-color: rgb(12, 65, 56);border-width: 2px;background-color: rgb(42, 165, 144); padding-top: 4px;padding-bottom: 4px;color: rgb(1, 11, 20);margin-bottom: 12px;"><a href="{% url 'index'%}">Back</a></button>
        </div>

        <div style="margin-bottom:2cm ;margin-top: 0.5cm;">
            <form method="get">
                <ul class="absolute flex ">
                    <li><h1 class="font-bold" style="color: rgb(4, 23, 39);">{{ kf.form }}</h1></li>
                    <li><button class="text-lg font-bold" style="background-color: aqua;padding-left: 15px;padding-right: 15px;padding-top: 5px;padding-bottom: 3px;border-radius: 8px;margin-left: 10px;" type="submit">Search</button></li>
                </ul>
            </form>
        </div >

        <h1 class="bg-gray-800 my-4 py-2 text-xl border-gray-100 text-white font-bold justify-center flex" style="border-width: 3px;border-radius: 2cm;">Nursery</h1>
        {%for nk in nursery_kids %}
            <div class="bg-gray-100 rounded-xl border-2 border-gray-500 px-2 py-4 my-4">
                <h1 class="font-bold" style="font-size: 19px;">{{ nk }}<span class="mx-2 px-4" style="float: inline-end; background-color: rgb(42, 165, 144);border-color: rgb(2, 23, 41);border-radius: 5px;padding-top: 2px;padding-bottom: 2px; color: rgb(1, 11, 20);"><a href="{{ nk.get_url }}">view</a></span></h1>
            </div>
        {%endfor%}
        <hr class="mx-4" style="margin-top: 1cm;">
        <div class="px-2 py-4 rounded-2xl my-4">
            <h1 class="bg-gray-800 my-4 py-2 text-xl border-gray-100 text-white font-bold justify-center flex" style="border-width: 3px;border-radius: 2cm;">Daycare</h1>
            {%for dk in daycare_kids %}
            <div class="bg-gray-100 rounded-xl border-2 border-gray-300 px-2 py-2 mt-2 mb-4">
                <h1 class="font-semibold" style="font-size: 19px;">{{ dk.full_name }}<span class="mx-2 px-4" style="float: inline-end; background-color: rgb(42, 165, 144);border-color: rgb(2, 23, 41);border-radius: 5px;padding-top: 2px;padding-bottom: 2px; color: rgb(1, 11, 20);"><a href="{{ dk.get_url }}">view</a></span></h1>
            </div>
            {%endfor%}
    </div>
{%endblock%}