{% extends "base/_base.html" %} 

{%block title%}home{%endblock%}

{% block content %}
    <div class="px-2 py-4 rounded-2xl" style="background: linear-gradient(60deg,rgba(11, 20, 70, 0.87),rgba(8, 180, 129, 0.979));">
        <h1 class="text-white font-bold mx-28 text-xl"> Welcome Admin</h1>
    </div>
    <div class="my-2 px-2 py-4 rounded-2xl" style="background: linear-gradient(60deg,rgba(11, 20, 70, 0.87),rgba(8, 180, 129, 0.979));">
        <h1 class="text-white font-bold justify-center flex text-lg"> Quick Actions</h1>
        <hr class="bg-gray-900">
        <ul class="justify-center flex">
            <li class="mx-2 my-4 font-bold text-white" style="font-size: 18px;"><a href="{%url 'kids_list' %}">View Kids</a></li>
            <li class="mx-4 my-4 font-bold text-white" style="font-size: 18px;"><a href="{%url 'term_list' %}">View Terms</a></li>
            <li class="mx-4 my-4 font-bold text-white" style="font-size: 18px;"><a href="{%url 'payment_list' %}">View Payments</a></li>
        </ul>

        <h1 class="py-2 text-white text-lg justify-center border-gray-100 flex bg-gray-800 rounded-xl" style="border-width: 3px;border-radius: 2cm;margin-top: 0.8cm;">NEWEST PAYMENTS</h1>
        {% for payment in payments%}
            <div class="rounded-xl border-2 border-gray-100 px-2 py-2 my-4 text-lg font-bold text-gray-100">
                {{ payment }}
            </div>
        {%endfor%}
    </div>
    <!--Daycare Display section-->
    <div class="my-4 rounded-2xl py-2 px-2" style="background: linear-gradient(60deg,rgba(11, 20, 70, 0.87),rgba(8, 180, 129, 0.979));">
        <h1 class="mt-4 py-2 text-white text-lg justify-center border-gray-100 flex bg-gray-800 rounded-xl" style="border-width: 3px;border-radius: 2cm;">NEWLY ADDED</h1>
        <h1 class="my-4 py-4 text-xl text-white font-bold justify-center flex rounded-full ">DAYCARE</h1>
        {% for daycare_kid in daycare_kids %}
            <div class=" rounded-xl border-2 border-gray px-2 py-4 my-4">
                <div class="flex items-center justify-center">
                    <img src="{{ daycare_kid.kid_picture.url }}" alt="{{ daycare_kid.full_name}}'s picture not found" class="h-48 w-48 rounded-full object-cover border-8 border-gray-300">
                </div>
                <h1 class="text-lg font-bold text-center " style="color: rgb(255, 252, 254); margin-top: 0.6cm;"><a href="{{ daycare_kid.get_url }}">{{ daycare_kid.full_name }}</a></h1>   
            </div>
        {%endfor%}
        <hr style="margin-top: 1cm;color:#c91587;">
        <!--Nursery Display section-->
        <h1 class="my-4 py-4 text-xl text-white font-bold justify-center flex rounded-full">NURSERY</h1>
        {% for nursery_kid in nursery_kids %}
            <div class=" rounded-xl border-2 border-gray-800 px-2 py-4 my-4">
                <div class="flex items-center justify-center">
                    <img src="{{ nursery_kid.kid_picture.url }}" alt="{{ nursery_kid.full_name}}'s picture not found" class="h-48 w-48 rounded-full object-cover border-8 border-gray-300">
                </div>
                <h1 class="text-lg font-bold text-center " style="color: aliceblue; margin-top: 0.6cm;">{{ nursery_kid.full_name }}</h1>
            </div>
        {%endfor%}
    </div>
{% endblock %}
